# Ignore virtual environment
venv/
.venv/

# Ignore log files
*.log

# Ignore database file
stock_data.db

# Ignore environment variables
.env

# Ignore IDE files
.idea/
.vscode/

# Ignore macOS system files
.DS_Store

# IDE files
.vscode/
.idea/

.idea
/__pycache__/
/lightning_logs/
out
*.pyc
*.pyo
*.pyd
